name: release

on:
  push:
    tags:
      - "v*"

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          pip install poetry
          poetry install

      - name: Test package
        run: poetry run pytest

      - name: Configure PyPI credentials
        env:
          PYPI_TOKEN: ${{ secrets.PYPI_API_TOKEN }}
        run: poetry config pypi-token.pypi $PYPI_TOKEN

      - name: Publish package
        run: poetry publish --build

  release:
    name: Release
    needs: publish
    runs-on: ubuntu-latest

    steps:
      - name: Create GitHub Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: ${{ github.ref }}
          draft: false
          prerelease: false
